.wrapperInfoNFT{
    &__Explore{
        
        display: flex;
        justify-content: space-evenly;
        margin-top: 40px;
    }

    &__img{
        background-color:black;
        width: 40%;
        height: 500px;
    }
    &__info{
        text-align: start;
        font-size: 20px;
        width: 40%;
    }
}